body * {
    border: 1px solid #000;
}

body {
    height: 100vh;
    text-align: center;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 1fr 0.1fr;
}

#images {
    display: flex;
    justify-content: space-around;
    position: relative;
    top: 5%;
}